@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif;
    background-color: grey;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
    color: black;
    margin: 2rem;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "uhf mp4 mp4 sissors"
    "threeD mp4 mp4 deep-end"
    "alapalooza mp4 mp4 lynwood"
    "dare-tobe song song bad-hair";
}

h1 {
    font-size: 50px;
    font-weight: 700;;
}

.album {
    background: transparent;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    place-self: center;
    height: 150px;
    width: 150px;
}

p {
    font-size: 35px;
    font-weight: 400;
}

.uhf {
    grid-area: uhf;
}

.sissors {
    grid-area: sissors;
}

.threeD {
    grid-area: threeD;
}

.alapalooza {
    grid-area: alapalooza;
}

.dare-tobe {
    grid-area: dare-tobe;
}

.song {
    border: 5px solid purple;
    color: purple;
    place-self: stretch;
    grid-area: song; 
}

.deep-end {
    grid-area: deep-end;
}

.lynwood {
    grid-area: lynwood;
}

.bad-hair {
    grid-area: bad-hair;
}

.mp4 {
    position: relative;
    grid-area: mp4;
    place-self: center;
    height: 500px;
    width: 800px
}







